@{

    Layout = "~/Views/Shared/_BaseLayout.cshtml";

}


<div class="container" style="margin-top: 120px; width: 800px">

    <div class="row" style="margin-bottom: 20px">

        <div class="col-12">
            <div class="pull-right"><h3 style="font-weight: 400">Community Outreach Family Services, Inc.</h3></div>
        </div>
        <div class="col-12">
            <div class="pull-right"><h3 style="font-weight: 400">Discharge Summary</h3></div>
        </div>
    </div>
    <div>
        <div class="row ml-5 mr-5" style="font-size: 18px; border: 1px solid black; margin-top: 50px">
            <div class="col-6">
                <label style="font-weight: 500">Admission Date:&nbsp;</label><span>  </span>
            </div>
            <div class="col-6">
                <label style="font-weight: 500">Discharge Date:&nbsp; </label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">Individual Name:&nbsp;</label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">DOB:&nbsp;</label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">Insurance ID #:&nbsp;</label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">Address:&nbsp;</label><span>  </span>
            </div>
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">City:&nbsp;</label><span>  </span>
            </div>
        </div>
        <div class="row ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">State:&nbsp;</label><span>  </span>
            </div>
        </div>
        <div class="row ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">Zip:&nbsp;</label><span>  </span>
            </div>
        </div>
        <div class="row ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">Contact:&nbsp;</label><span>  </span>
            </div>
        </div>
    </div>

    <div style="margin-top: 50px">
        <div class="row ml-5 mr-5" style="font-size: 18px; border: 1px solid black; margin-top: 30px">
            <div class="col-6">
                <label style="font-weight: 500">Service Received:&nbsp;</label><span>  </span>
            </div>
        </div>
        <div class="ml-5 mr-5 p-5" style="font-size: 18px; border: 1px solid black; border-top: none">

        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 800">Reason for discharge:&nbsp;</label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5 p-5" style="font-size: 18px; border: 1px solid black; border-top: none">
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-12">
                <label style="font-weight: 800">Did the individual participate in discharge planning?&nbsp;</label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5 p-5" style="font-size: 18px; border: 1px solid black; border-top: none">
        </div>
        <div class="ml-5 mr-5 p-5" style="font-size: 18px; border: 1px solid black; border-top: none">
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-12">
                <label style="font-weight: 800">Recommandations, referrals made for individual:&nbsp;</label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5 p-5" style="font-size: 18px; border: 1px solid black; border-top: none">
        </div>
        <div class="ml-5 mr-5 p-5" style="font-size: 18px; border: 1px solid black; border-top: none">
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none; height: 100px">
            <div class="col-12">
                <label style="font-weight: 800">Progress made towards achieving goals and objectives identified in the <br /> Individualized Service Plan:&nbsp;</label><span>   </span>
            </div>
        </div>
    </div>

    <div class="ml-5" style="margin-top: 40px; margin-bottom: 50px">
        <h3 style="font-weight: 600">CARE COORDINATION:&nbsp;</h3>
    </div>
    <div class="ml-5">
        <h4 style="font-weight: 400">Diagnosis:&nbsp;</h4>
    </div>

    <div>
        <div class="row ml-5 mr-5" style="font-size: 18px; border: 1px solid black; margin-top: 30px">
            <div class="col-6">
                <label style="font-weight: 500; text-align: center">Medication</label>
            </div>

        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none; margin-bottom: 300px">
            <label class="ml-3" style="font-weight: 500">Discharge Medication:</label>
            <div class="row" style="border: 1px solid black; border-bottom: none; margin-top: 40px; width: 890px; height: 30px; margin: 0 auto; position: relative">
                <div class="col-3" style="border-right: 1px solid black">
                </div>
                <div class="col-2" style="border-right: 1px solid black">
                </div>
                <div class="col-7">
                </div>
            </div>

        </div>


    </div>
    <div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; margin-bottom: 300px">
            <div class="row" style="border: 1px solid black; border-bottom: none; margin-top: 40px; width: 890px; height: 30px; margin: 0 auto; position: relative">
                <div class="col-3" style="border-right: 1px solid black">
                </div>
                <div class="col-2" style="border-right: 1px solid black">
                </div>
                <div class="col-7">
                </div>
            </div>
            <div class="row" style="border: 1px solid black; border-bottom: none; margin-top: 40px; width: 890px; height: 30px; margin: 0 auto; position: relative">
                <div class="col-3" style="border-right: 1px solid black">
                </div>
                <div class="col-2" style="border-right: 1px solid black">
                </div>
                <div class="col-7">
                </div>
            </div>
            <div class="row" style="border: 1px solid black; border-bottom: none; margin-top: 40px; width: 890px; height: 30px; margin: 0 auto; position: relative">
                <div class="col-3" style="border-right: 1px solid black">
                </div>
                <div class="col-2" style="border-right: 1px solid black">
                </div>
                <div class="col-7">
                </div>
            </div>
            <div class="row" style="border: 1px solid black; border-bottom: none; margin-top: 40px; width: 890px; height: 30px; margin: 0 auto; position: relative">
                <div class="col-3" style="border-right: 1px solid black">
                </div>
                <div class="col-2" style="border-right: 1px solid black">
                </div>
                <div class="col-7">
                </div>
            </div>
            <div class="row" style="border: 1px solid black; border-bottom: none; margin-top: 40px; width: 890px; height: 30px; margin: 0 auto; position: relative">
                <div class="col-3" style="border-right: 1px solid black">
                </div>
                <div class="col-2" style="border-right: 1px solid black">
                </div>
                <div class="col-7">
                </div>
            </div>
            <div class="row" style="border: 1px solid black; border-bottom: none; margin-top: 40px; width: 890px; height: 30px; margin: 0 auto; position: relative">
                <div class="col-3" style="border-right: 1px solid black">
                </div>
                <div class="col-2" style="border-right: 1px solid black">
                </div>
                <div class="col-7">
                </div>
            </div>
            <div class="row" style="border: 1px solid black; border-bottom: none; margin-top: 40px; width: 890px; height: 30px; margin: 0 auto; position: relative">
                <div class="col-3" style="border-right: 1px solid black">
                </div>
                <div class="col-2" style="border-right: 1px solid black">
                </div>
                <div class="col-7">
                </div>
            </div>
            <div class="row" style="border: 1px solid black; border-bottom: none; margin-top: 40px; width: 890px; height: 30px; margin: 0 auto; position: relative">
                <div class="col-3" style="border-right: 1px solid black">
                </div>
                <div class="col-2" style="border-right: 1px solid black">
                </div>
                <div class="col-7">
                </div>
            </div>
            <div class="row" style="border: 1px solid black; border-bottom: none; margin-top: 40px; width: 890px; height: 30px; margin: 0 auto; position: relative">
                <div class="col-3" style="border-right: 1px solid black">
                </div>
                <div class="col-2" style="border-right: 1px solid black">
                </div>
                <div class="col-7">
                </div>
            </div>
            <div class="row" style="border: 1px solid black; border-bottom: none; margin-top: 40px; width: 890px; height: 30px; margin: 0 auto; position: relative">
                <div class="col-3" style="border-right: 1px solid black">
                </div>
                <div class="col-2" style="border-right: 1px solid black">
                </div>
                <div class="col-7">
                </div>
            </div>
            <div class="row" style="border: 1px solid black; border-bottom: none; margin-top: 40px; width: 890px; height: 30px; margin: 0 auto; position: relative">
                <div class="col-3" style="border-right: 1px solid black">
                </div>
                <div class="col-2" style="border-right: 1px solid black">
                </div>
                <div class="col-7">
                </div>
            </div>
        </div>
    </div>
</div>
