@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";

}

<div class="container" style="margin-top: 120px; width: 800px">

    <div class="row" style="margin-bottom: 20px">

        <div class="col-12">
            <div class="pull-right"><h3 style="font-weight: 400">Community Outreach Family Services, Inc.</h3></div>
        </div>
        <div class="col-12">
            <div class="pull-right"><h3 style="font-weight: 400">Discharge Summary</h3></div>
        </div>
    </div>
    <div>
        <div class="row ml-5 mr-5" style="font-size: 18px; border: 1px solid black; margin-top: 50px">
            <div class="col-6">
                <label style="font-weight: 500">Admission Date:&nbsp;</label><span>  </span>
            </div>
            <div class="col-6">
                <label style="font-weight: 500">Discharge Date:&nbsp; </label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">Individual Name:&nbsp;</label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">DOB:&nbsp;</label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">Insurance ID #:&nbsp;</label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">Address:&nbsp;</label><span>  </span>
            </div>
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">City:&nbsp;</label><span>  </span>
            </div>
        </div>
        <div class="row ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">State:&nbsp;</label><span>  </span>
            </div>
        </div>
        <div class="row ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">Zip:&nbsp;</label><span>  </span>
            </div>
        </div>
        <div class="row ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 500">Contact:&nbsp;</label><span>  </span>
            </div>
        </div>
    </div>

    <div style="margin-top: 50px">
        <div class="row ml-5 mr-5" style="font-size: 18px; border: 1px solid black; margin-top: 30px">
            <div class="col-6">
                <label style="font-weight: 500">Service Received: Crisis Residential&nbsp;</label><span>  </span>
            </div>
        </div>
        <div class="ml-5 mr-5 p-5" style="font-size: 18px; border: 1px solid black; border-top: none">

        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-6">
                <label style="font-weight: 400">Reason for discharge:&nbsp;</label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5 p-5" style="font-size: 18px; border: 1px solid black; border-top: none">
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-12">
                <label style="font-weight: 400">Did the individual participate in discharge planning?&nbsp;</label><span>   </span>
            </div>
        </div>

        <div class="ml-5 mr-5 p-5" style="font-size: 18px; border: 1px solid black; border-top: none">
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none">
            <div class="col-12">
                <label style="font-weight: 400">What was the individual level of functioning and/or functional limitations at the time of discharge?&nbsp;</label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5 p-5" style="font-size: 18px; border: 1px solid black; border-top: none">
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none; height: 40px">
            <div class="col-12">
                <label style="font-weight: 400">Recommendations, referrals made for individual:     </label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none; height: 40px">
            <div class="col-12">
                <label style="font-weight: 400">
                    Status and arrangements for future services:
                </label><span>   </span>
            </div>
        </div>
        <div class="ml-5 mr-5 p-5" style="font-size: 18px; border: 1px solid black; border-top: none">
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none; height: 60px">
            <div class="col-12">
                <label style="font-weight: 400">
                    Progress made towards achieving goals and objectives identified in the Individualized Service Plan:
                </label><span>   </span>
            </div>
        </div>
    </div>



    <div>
        <div class="row ml-5 mr-5" style="font-size: 18px; border: 1px solid black; margin-top: 30px">
            <div class="col-6">
                <label style="font-weight: 500; text-align: center">Medication</label>
            </div>

        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; border: 1px solid black; border-top: none; margin-bottom: 100px">
            <label class="ml-3" style="font-weight: 500">Discharge Medication:</label>
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; margin-bottom: 50px">
            <label class="ml-3" style="font-weight: 500">Discharge Summary Completed by: </label>
        </div>
        <div class="ml-5 mr-5" style="font-size: 18px; margin-bottom: 50px; border-top: 1px solid black; width: 300px">
            <label class="ml-3 p-3" style="font-weight: 500">Signature/ Date: </label>
        </div>
    </div>
</div>