
@{
    ViewBag.Title = "Pocket63K";
    Layout = "~/Views/Shared/_WebBaseLayout.cshtml";
}


<style>

</style>

<div class="container">

    <div class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 class="page-title">How It works</h2>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6 hidden-xs back-home">
                <a href="index-2.html">← Go back Home</a>
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div> <!-- /.page-header -->

    <div class="row">

        <div class="col-md-9">
            <div class="blog-single">

                <div class="post-content">
                    <h3 class="post-title">Achieving Meaningful Use with ICAN</h3>
                    <div class="row">
                        <div class="col-md-8">
                            According to the 2009 HITECH Act, physicians are eligible to receive up to $44,000 in total incentives per physician from Medicaid for "Meaningful Use" of a certified Electronic Health Record (EHR) starting this year (2011). (Note: Physicians reimbursed by Medicaid can receive up to approximately $63,750 starting in 2011 based on state-defined guidelines.) In July 2010, the Center for Medicare and Medicaid Services (CMS) released their rule for the Stage 1 Meaningful Use requirements that physicians need to meet in order to receive their Meaningful Use incentives. For our in-depth analysis of the rule,
                            <a href="">click here</a>.
                        </div>
                        <div class="col-md-4">
                            <img src="https://via.placeholder.com/250x173.png?text=Visit+WhoIsHostingThis.com+Buyers+Guide" style="margin-right: 5px" />
                        </div>
                    </div>
                    <p>
                        <br />
                        Medicaid payments have been coming in and beginning in late May our first physician clients began receiving their year one Medicare Meaningful Use checks for up to $18,000. You can read on our blog about the first ICAN client to get paid. These payments represent the first step in the validation and fulfillment of ICAN's Federal Stimulus Bonus Payment Guarantee Program, unique in the industry for guaranteeing federal Meaningful Use incentive payments, not just Meaningful Use certification. To learn more about our Guarantee. <a href="guaranteedpayment.aspx">click here</a>
                    </p>
                    <h3 class="post-title">
                        Guaranteed Incentives, Nimble Technology
                    </h3>
                    <p>
                        How can we be so confident in our ability to meet Meaningful Use that we are willing to put our own money on the line?* And why do 100% of our clients share that confidence, according to our surveys, "Ambulatory EMR: On Track for Meaningful Use?"
                        <br />
                        Unlike traditional software or ASP-based EHRs, where all the work involved in meeting and tracking Meaningful Use performance falls on the practice, HITS provides a full-service solution with no extra or hidden costs. Our service includes, at no extra cost:
                        <br />
                        <ul>
                            <li>
                                Administrative support that takes on cumbersome tasks of registration and attestation with government agencies
                            </li>
                            <li>
                                Fully certified clinical quality measures built into the workflow with our proprietary HITS®
                            </li>
                            <li>
                                A Meaningful Use Resource Center website where clients have access to all the information they need—at their fingertips
                            </li>
                            <li>
                                Expert performance coaching to guide and support clients through every stage of the process
                            </li>
                        </ul>
                        Here is a more detailed breakdown of how ICAN is addressing key Meaningful Use measures:
                    </p>

                    <h3 class="post-title">Improved outcomes</h3>
                    <p>
                        <ul>
                            <li>Care Coordination (Electronically exchange information): Unlike most EHR offerings, <a href="#">athenaCommunicator®</a>, with its Patient Portal and automated patient messaging, is designed to enhance patient involvement in their health care, enabling practices to meet these Meaningful Use measures. </li>
                        </ul>
                    </p>

                    <h3 class="post-title">Advanced clinical processes</h3>
                    <p>
                        <ul>
                            <li> <strong>Use of e-Prescribing:</strong> AVStaffingCompany is Surescripts®  certified for Prescription Benefit Eligibility, Formulary, and Reporting;  Medication History (payer); Prescription Renewals (retail); and Prescription  Routing for New Prescriptions (retail and mail-order).</li>
                            <li><strong>Closed Order Management: </strong>Because our EHR includes document management  services, we make it easy for providers to create and send electronic orders  from the encounter. Users can also track and close orders within the  application for better follow-up and quality reporting.</li>
                        </ul>
                    </p>
                    <h3 class="post-title">Data capture and sharing</h3>
                    <p>
                        <ul>
                            <li><strong>Quality care and population management: </strong>AVStaffingCompany’s  rules database provides a set of payer-specific quality measures and also  allows for comprehensive and automatic demographic reporting. </li>
                            <li>Meaningful use offers an important opportunity for  physicians to be financially rewarded for adopting an EHR that can effectively  achieve measures. We at ICAN are here to help you navigate through the  complexities of Meaningful Use, help you get all the incentive dollars you  deserve, and free you from administrative red tape so you can focus on quality  patient care. </li>
                        </ul>
                    </p>

                    <h3 class="post-title">
                        Your Partner Through Reform and Change
                    </h3>

                    <p>The  HITECH Act and Meaningful Use is just one of many huge changes impacting  physician practices today. Last year's historic passage of the Patient Protection  and Affordable Care Act set the stage for what will be some of the most  significant changes to the U.S. health care system in a generation. To read in  more detail about our perspective on the health care reform bill and our  response to the challenges it presents, <a href="">click  here</a></p>
                    <p>One  recent manifestation of the reform bill was the release in MedicalRecordch of the  proposed rules for Accountable Care Organizations, or ACOs. To learn more about  ACOs, what they might mean for your practice or organization, and how ICAN can  help you navigate any payment future, <a href="cmp/ACO/_doc/ACO_NPRM_Summary.pdf">click here</a></p>

                </div>
            </div>

        </div>

        <div class="col-md-3">

            @Html.Partial("~/Views/Shared/Rightnav.cshtml")
        </div>
    </div>

</div>

