
<div class="box-content">
    <div class="events-sidebar">
        <ul>
            <li class="event-item">
                <img src="../Assets/Images/jobDesc.png" class="img-thumbnail" alt="">

            </li>
            <li class="event-item">
                <h3 class="text-purple" style="font-size: 2rem">Testimonial</h3>
                <p>I had pleasure of working with AVStaffing and I can honestly say that they exceeded all of my expectations. Their team of experts took the time to understand my specific needs and matched me with a job that not only met my qualifications, but also aligned with my career goals. The support and guidance I received throughout the hiring process was unparalleled and I couldn't be happier with my new position.</p>
            </li>
        </ul>
        <a href="events-list.html" class="read-more">More Events &rarr;</a>
    </div>
</div>